@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
  font-family: 'Neucha', cursive;
  background-color:bisque;
}
.block {
  padding: 1rem;
  margin: 5px;
}
.row {
  display: flex;
}
.col-2 {
  flex: 2;
}
.col-1 {
  flex: 1;
}
header.block {
  border: 0.01rem #404040 solid;
  background-color: tan;
}
header img {
  max-height: 3rem;
}
h1, h2, h3 {
  margin: 0.5rem 0.5rem;
}