@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
  font-family: 'Neucha', cursive;
  background-color:bisque;
}
.block {
  padding: 1rem;
  margin: 5px;
}
.row {
  display: flex;
}
.col-2 {
  flex: 2;
}
.col-1 {
  flex: 1;
}
header.block {
  border: 0.01rem #404040 solid;
  background-color: tan;
}
header img {
  max-height: 3rem;
}
h1, h2, h3 {
  margin: 0.5rem 0.5rem;
}
main .row {
  justify-content: space-between;
  flex-wrap: wrap;
}   
.card {
  background-color: tan;
  margin: 0.5rem;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}
.card .info {
  padding: 0.5rem;
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
img.small {
  width: 100%;
}
.cartItem {
  border: 0.01rem #404040 solid;
  border-left: none;
  border-right: none;
  padding: none;
}
.cartItem p {
  margin: 0.1rem;
}
.cart {
  padding: 0px;
  margin-top: 30px;
  border: 0.01rem #404040 solid;
  background-color: tan;
}
.cartItem {
  display: flex;
  justify-content: space-between;
  width: 100%
}
.cartItem button {
  vertical-align: middle;
  margin-top: 10px 
}
.cart-bottom {
  margin: 0.5rem;
  border: 0.01rem #404040 solid;
  bottom: 0;
  display: fixed;
}
.cart .row {
  justify-content: space-between;
}