@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://css.gg/trash.css');

body {
  font-family: 'Neucha', cursive;
  background-color:bisque;
}
.block {
  padding: 1rem;
  margin: 5px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.col-2 {
  flex: 2;
}
.col-1 {
  flex: 1;
}
header.block.row {
  border: 0.01rem #404040 solid;
  background-color: tan;
  justify-content:flex-start;
}
header img {
  max-height: 3rem;
}
h1, h2, h3 {
  margin: 0.5rem 0.5rem;
}
main > .row {
  flex-wrap: wrap;
  justify-content: flex-start;
}   
.card {
  background-color: tan;
  margin: 0.5rem auto;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}
.card .info {
  padding: 0.5rem;
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
img.small {
  width: 100%;
}
.cartItem {
  border: 0.01rem #404040 solid;
  border-left: none;
  border-right: none;
  padding: none;
}
.cartItem p {
  margin: 0.1rem;
}
.cart {
  padding: 0px;
  margin-top: 30px;
  border: 0.01rem #404040 solid;
  background-color: tan;
  height: max-content;
}
.cartItem {
  display: flex;
  justify-content: space-between;
  width: 100%
}
.cart .row {
  justify-content: space-between;
}
button {
  background-color: white;
  color: rgba(138, 95, 64, 0.951);
  border: 0.15rem rgba(138, 95, 64, 0.951) solid;
  border-radius: 0.5rem;
  padding: 0 0.8rem;
  font-family: 'Neucha', cursive;
  font-weight: bold;
}
.cart button {
  border: 0.1rem rgba(138, 95, 64, 0.951) solid;
  margin: 0.5rem;
}
.buttons {
  display: flex;
  justify-content: center;
}
/* .buttons button {
  padding: 0.1rem 0.5rem;
} */
.cartItem button {
  align-self: center;
}
.cart > .row {
  border-bottom: 0.2rem #404040 solid;
}
.cart-bottom {
  text-align: center;
}
.cart-bottom button{
  width: 90%;
}
.cart p{
  margin-left: 0.5rem;
}